<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example App</title>
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
</head>

<body>

    <h1 class="text-center my-5">URL shortener</h1>
    
    <div class="d-flex justify-content-center">
        <div class="text-center">
    
            <img src="/photo/ExportedContentImage_00.png" alt="picture" class="w-75">
    
        </div>
    </div>

    {{{body}}}

    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    {{!-- <script src="/javascripts/main.js"></script> --}}
</body>

</html>