<h1 class="text-center my-5">URL shortener</h1>

<div class="d-flex justify-content-center">
    <div class="text-center">

        <img src="/photo/ExportedContentImage_00.png" alt="picture" class="w-75">

    </div>
</div>


<nav class="d-flex justify-content-center mt-5">
    <div class="w-75" id="navbarSupportedContent">
        <form class="text-center" role="search">
            <input class="form-control" type="search" placeholder="Iuput URL here" aria-label="Search">
            <button class="btn btn-outline-success mt-3 fs-4 border border-primary text-primary" type="submit">Shorten</button>
        </form>
    </div>
</nav>