
<nav class="d-flex justify-content-center mt-5">
    <div class="w-50" id="navbarSupportedContent">
        <form class="text-center" id="input" role="search">
            <input class="form-control" name="creatURL" type="search" placeholder="Iuput URL here" aria-label="Search" value="{{inputURL}}">
            <button class="btn btn-outline-success mt-3 fs-4 border border-primary text-primary" type="submit">Shorten</button>
        </form>
    </div>
</nav>


<script src="/javascripts/main.js"></script>
